*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    background-color: #FFFFFF;
}

.container {
    position: absolute;
    width: 1160.58px;
    height: 40px;
    left: 140.92px;
    top: 47px;
  }
    

header{
    display: flex;
    width: 100%;
}

header > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header li {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;

    color: #212832;
    position: relative;
    transition: all 0.35s ease;
    
    width: 100px;
    height: 22px;

    
}

.button{
    width: 102px;
    height: 40px;
    top: -10px;

    border: 1px solid #212832;
    box-sizing: border-box;
    border-radius: 5px;

    text-align: center;
}

.decore{
    z-index: -1;
}

.heroimg{
    z-index: 1;
    position: absolute;
    width: 783.87px;
    height: 764px;
    left: 565px;
    top: 105px;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    text-transform: uppercase;

    color: #DF6951;
}

h1{
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;

    letter-spacing: -0.04em;

    color: #181E4B;

}

p{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.desc > h2{
    position: absolute;
    width: 410px;
    height: 30px;
    left: 150px;
    top: 217px;
}

.desc > h1{
    position: absolute;
    width: 545px;
    height: 267px;
    left: 150px;
    top: 271px;
}

.desc > p{
    position: absolute;
    width: 477px;
    height: 90px;
    left: 148px;
    top: 568px;
}

.desc > .decore{
    position: absolute;
    width: 385px;
    height: 12px;
    left: 393px;
    top: 340px;

}

.cta{
    display: flex;
    width: 100%;

    position: absolute;
    width: 379px;
    height: 60px;
    left: 148px;
    top: 692px;

}

.cta > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    display: flex;
    flex-direction: row;

}

.cta > div > button{
    position: absolute;
    width: 170px;
    height: 60px;


    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: 0px;

    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

    
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

}

h4{
    font-family: Volkhov;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 64px;

text-align: center;
text-transform: capitalize;

color: #14183E;
}

.services > h3{
    position: absolute;
    width: 98px;
    height: 27px;
    left: 652px;
    top: 974px;
}

.services > h4{
    position: absolute;
    width: 547px;
    height: 65px;
    left: 428px;
    top: 1011px;
}

.category1{
    position: absolute;
    width: 190px;
    height: 227px;
    left: 154px;
    top: 1186px;

    text-align: center;
}

.category1 > h5{
    position: absolute;



}

.category1 > p{
    position: absolute;


}
